
# Logs gerados pela aplicação ou pelo servidor.
*.log
logs/

/backend/src/main/resources


#pasta build do maven
/target/
/backend/target/

# IntelliJ IDEA
../.idea/
*.iml
*.iws

# VS Code
.vscode/

#Arquivos do Sistema Operacional

Thumbs.db 